@keyframes rotateSelf {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#themeEffect:hover {
  cursor: pointer;
}

.changeThemeEffect {
  -webkit-animation: rotateSelf 0.8s ease-in-out both;
  animation: rotateSelf 0.7s ease-in-out both;
}
